@import "partial";
body {
  background-color: #0f0e17;
}
h1,
p {
  color: #fffffe;
}
.btn {
  background-color: #f25f4c;
  border: none;
  font-size: 1.3rem;
  &:hover,
  &:active {
    background-color: #f25f4c;
  }
}
.footer p > a {
  list-style: none;
  text-decoration: none;
  color: #fffffe;
}
p .anchor {
  color: #fffffe;
}
